@import '~antd/dist/antd.variable.css';

* {
  --ant-primary-color: #7ea310 !important;
  --ant-primary-color-hover: #8dae2c !important;
  --ant-primary-color-active: #53900d !important;
  --ant-primary-color-outline: rgba(126, 163, 16, 0.2) !important;
  --ant-primary-1: #dae4ba !important;
  --ant-primary-2: #dae4ba !important;
  --ant-primary-3: #cad99d !important;
  --ant-primary-4: #bbcf81 !important;
  --ant-primary-5: #acc465 !important;
  --ant-primary-6: #9db949 !important;
  --ant-primary-7: #8dae2c !important;

  --ant-primary-color-deprecated-l-35: #dae4ba !important;
  --ant-primary-color-deprecated-l-20: #dae4ba !important;
  --ant-primary-color-deprecated-t-20: #9db949 !important;
  --ant-primary-color-deprecated-t-50: #acc465 !important;
  --ant-primary-color-deprecated-f-12: rgba(126, 163, 16, 0.12) !important;
}
