.container {
  width: 60vh;
  height: 30vh;

  min-width: 380px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 500ms;
}

.container:hover {
  cursor: default;
  transform: scale(1.1);
  transition: 300ms;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.informations {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
}

.photo {
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo img {
  height: 16vh;
  width: 16vh;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 2vh;
}

.details {
  height: 100%;
  width: 40vh;

  padding: 3vh 2vh 2vh 0;

  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details span {
  display: inline-flex;
  align-items: center;
}

.details p {
  font-size: 100%;
  margin: 0;
  padding: 0 8px;
}

.name {
  font-size: 150%;
  font-weight: 700;
  color: #213502;
}

.identity {
  color: #7f848c;
}

.phone {
  color: #5facc9;
}
.email {
  color: #5fc95f;
}

.address {
  color: #7f848c;
}

.actions {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 24px;
  width: 24px;
  margin: 0 10px;
}
.icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .container {
    margin: 0;
  }
}
