.container {
  width: 100%;
  height: 15vh;

  padding: 5vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio {
  accent-color: #213502;
  color: #213502;
  width: 55vw;
  display: flex;
}

.radio input {
  margin: 0 2px 0 10px;
}

.radio input:hover {
  cursor: pointer;
}
