.container {
  height: 40px;
  width: 320px;

  padding: 0 10px 0 10px;

  background: #ffffff;
  border: 1px solid #7f848c;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container:hover {
  border: 2px solid #7f848c;
}

.container:focus-within {
  border: 2px solid #7ea310;
}

.input {
  width: 90%;
  height: 90%;
  font-size: 16px;
  outline: none;
  border: none;
}

.input::placeholder {
  color: #7f848c;
}

.icon {
  width: 24px;
  height: 24px;
  color: #7f848c;
}

.icon:hover {
  color: #7ea310;
}
