.container {
  width: 200px;
  height: 40px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.label {
  background-color: white;
  color: #7f848c;
  position: relative;
  bottom: 7px;
  left: 10px;
  padding: 0 5px;
  font-size: 12px;

  width: fit-content;
}

.container:focus-within .label,
.container:hover .label {
  color: #7ea310;
  font-weight: 700;
}

.container input,
.container select {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #7f848c;
  border-radius: 5px;
  outline: none;

  color: #213502;
  margin-top: -14px;
}

.container input[type='number']::-webkit-inner-spin-button,
.container input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container select:required:invalid {
  color: #7f848c;
}

.container input:hover,
.container input:focus,
.container select:hover,
.container select:focus {
  outline: 1px solid #7ea310;
}

.container span {
  position: relative;
  left: 65%;
  font-size: 11px;
  color: #7f848c;
  padding: 0 10px;
  width: 30%;
  height: auto;
  text-align: right;
}
