.containerr {
  --height: 140px;
  --width: 140px;
  width: var(--width);
  height: var(--height);
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.imgHolder {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.containerr input[type='file'] {
  display: none;
}
.loader {
  position: relative;
  bottom: 130px;
  left: 0px;

  border-radius: 5px;
  width: 130px;
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.loader p {
  font-size: 14px;
  font-weight: 700;
  color: #26282b;
  margin: 4px;
}

.containerr .loader {
  visibility: hidden;
}

.containerr:hover .loader {
  visibility: visible;
}

.materialIcons {
  width: 24px;
  height: 24px;
  color: #26282b;
}
