.container {
  width: fit-content;
  height: fit-content;

  padding: 5px 10px 5px 10px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
}

.span {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
